<h1 class="text-center"><%= @user.username %></h1>
<hr>
<div class="row">
	<div class="col-md-3">
		<div class="well text-center">
			<p><%= @user.username %>'s Favorites</p>
		</div>
		<% @user.favorites.each do |favorite| %>
			<div class="well">
				<%= link_to favorite.post.title, post_path(favorite.post) %><%= render 'shared/favorites', obj: favorite.post %>
			</div>
		<% end %>
	</div>
	<div class="col-md-6">
		<div class="well text-center">
			<p><%= @user.username %>'s Posts</p>
		</div> 
		<% @posts.each do |post| %>
			<div class="well">
				<div class="well">
					<%= post.title %>
				</div>
				<%= post.summary %>
				<hr>
				<%= post.body %>
			</div>
		<% end %>
	</div>
	<div class="col-md-3">
		<div class="well text-center">
			<p><%= @user.username %>'s Followers</p>
		</div>
		<% @followers.each do |follower| %>
			<div class="well">
				<%= link_to follower.username, user_path(follower) %>
			</div>
		<% end %>
		<div class="well text-center">
			<p><%= @user.username %>'s Followings</p>
		</div>
		<% @followings.each do |following| %>
			<div class="well">
				<%= link_to following.username, user_path(following)%>
			</div>
		<% end %>
	</div>
</div>
