<div class="well">
	<div class="well">
		<%= @post.title %><%= render 'shared/favorites', obj: @post %>
	</div>
	<%= @post.summary %>
	<hr>
	<%= @post.body %>
	<hr>
	<b>By: </b><%= link_to @post.user.username, user_path(@post.user) %>
</div>